# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tanne\Desktop\nico\2021-1\ELO329   -Diseño y Programación Orientada a Objetos\tarea-2\Stage4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
